<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
This is your chuck norris joke: <p th:text="${joke}"></p>

</body>
</html>